{% extends 'base.html.twig' %}
{% block title %}Contact (Home){% endblock %}
{% block body %}
<h1>Contact (Home)</h1>
<p>Cette page peut rediriger vers la page contact principale.</p>
<p><a class="btn btn-primary" href="{{ path('app_contact') }}">Aller au formulaire</a></p>
{% endblock %}

